$font-color: #FFFFFF;
$bungee: 'Bungee', sans-serif;
$tweeter-blue: #4056A1;
nav {
  height: 120px;
  width: 100%;
  color: $font-color;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1.5em 1em;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.5s;
  .bungee {
    font-family: $bungee;
  }
  div.flex-container-col {
    cursor: pointer;
    i {
      color: red;
      animation: bounce 1.5s ease-in-out infinite;
      animation-direction: alternate-reverse;
    }
  }
}





@keyframes bounce {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 8px);
  }
}

.hide {
display: none;
}

.noBGColor {
  background-color: none;
  opacity: 0.8;
}

.blue {
  background-color: $tweeter-blue;
}